:root{
    --cor_botao_clicado:rgb(68, 68, 182);
    --cor_botao_n_clic:rgb(146, 146, 221);
    --cor_fundo:rgb(117, 63, 167);
    --cor_titulo:rgb(0, 0, 255);
    
    
    }
    body{
        background-color:var(--cor_fundo);
    
    
    }
    h1{
        color:var(--cor_titulo);
       
    
    }
    .principal{
       
       max-width: 1200px;
       width: 100%;
       margin: 0 auto;
       align-items: center;
       display: flex;
       flex-direction: column;
       justify-content: center;
        
    
    }
    h3{
        font-size: 30px;
        background-color: rgb(171, 143, 197);
        border-radius: 200px;
        justify-content: center;
        align-items:center ;
        display: flex;
        flex-wrap: wrap;
       
    
    }
    .botao{
         
       background-color: var(--cor_botao_n_clic);
       display: flex;
       justify-content: center;
       padding: 1mm;
       font-size: 18px;
       align-items: center;
       width: ;






    }
   
    